<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>My Artist</h1>
    <%= @artist.name %>
    <p><%= @artist.bio %></p>
  </body>
</html>
